<% if (!user) { %>    
    <div class="register-container" style="margin-left: 1.5rem;">
        <!-- if user variable is not present then display the register link -->
        Not signed up yet? <a href="/register">Register</a>
    </div>
<% } %>

</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script>
    console.log("EJS variables available at build time", <%- JSON.stringify(locals) %>);

</script>

</body>
</html>
