

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
}


.readonly {
  background-color: #d0d0d3; /* Faint grey background */
  cursor: not-allowed; /* Disable cursor */
  opacity: 0.6; /* Reduce opacity */
}

.calculated-field {
  background-color: #f0fc82 !important; /*  */
  border: 1px solid; /* Default border */
  border-color: green; /* Green border color */
  cursor: not-allowed; /* Disable cursor */
  opacity: 0.6; /* Reduce opacity */  
}

.mandatory {
  
  background-color: #ffb2b2 !important; /*  */
  border: 2px solid red; /* Red border */

}

