

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
}


.readonly {
  background-color: #d0d0d3; /* Faint grey background */
  cursor: not-allowed; /* Disable cursor */
  opacity: 0.6; /* Reduce opacity */
}

.calculated-field {
  background-color: #f0fc82 !important; /*  */
  border: 1px solid; /* Default border */
  border-color: green; /* Green border color */
  cursor: not-allowed; /* Disable cursor */
  opacity: 0.6; /* Reduce opacity */  
}

.mandatory {
  
  background-color: #fcfffc !important; /*  */
  border: 2px solid red; /* Red border */

}


/*color codes
    black: #040F0F
    dark green: #248232
    primary: #2ba84a
    gray: #d0dcdc
    white: #fcfffc
    slate gray #364958
*/




.sidebar {
  position: sticky;
  top: 0;
}

.sidebar li { 
  border: none;
  padding: 5px;
  width: 100%;
}

.nav-item:hover a { 
   color: #fcfffc;
  background: #54a47c;
}

.sidebar ul { 
  width: 100%;
}

#active {
  background-color: #54a47c;
  color: #fcfffc;
}

.logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.bgprimary {
  background-color: #285c42;
}

.bgtertiary {
  background-color: #d0dcdc;
}

.bgsecondary {
  background-color: #54a47c;
}

.btnprimary {
  background-color: #285c42;
  color: #fcfffc;
  outline-color: #285c42;
}

.btnprimary:hover {
  background-color: #54a47c;
  color: #fcfffc;
}

/*.btnsecondary {
  background-color: #285c42;
  color: #fcfffc;
  outline-color: #285c42;
}

.btnsecondary:hover {
  background-color: #54a47c;
  color: #fcfffc;
}
*/

.btngray {
  background-color: #364958;
  color: #d0dcdc;
}

.btngray:hover {
  background-color: #040F0F;
  color: #fcfffc;
}

.btndark {
  background-color: #364958;
  color: #fcfffc;
}

.btndark:hover {
  background-color: #040F0F;
  color: #fcfffc;

}

.loginprompt {
  text-align: center;
  justify-content: center;
  width: 450px
}

.delete-icon {
  color: #364958;
  font-size: 20px;
}

.delete-icon:hover {
  color: #040F0F;
  font-size: 20px;
}

.approve-icon {
  color: #364958;
  font-size: 20px;
}

.approve-icon:hover {
  color: #040F0F;
  font-size: 20px;
}

.view-icon {
  color: #364958;
  font-size: 20px;
}

.view-icon:hover {
  color: #040F0F;
  font-size: 20px;
}

.edit-icon {
  color: #364958;
}

.edit-icon:hover {
  color: #285c42;
}


.readonly {
  padding-left: 10px;
  border-radius: 5px;
  color:#fcfffc;
  background-color: #285c42;
}



.myAlert-top{
  position: fixed;
  top: 5px; 
  left:2%;
  width: 96%;
}

.myAlert-bottom{
  position: fixed;
  bottom: 5px;
  left:2%;
  width: 96%;
}

div.fullscreen {
position: absolute;
width:100%; 
height:960px; 
top: 0; 
left: 0; 
background-color: lightblue;
}


  
.time-sheet-container td {
  background: transparent;
}

.time-sheet-container .holiday {
  background-color: #9a94bc;
}

.time-sheet-container .weekend {
  background-color: #c1fba4;
}

.leave_day_off_modal label span {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(0, 0, 116);
}

.leave_day_off_modal .disabled,
.leave_day_off_modal .disabled span {
  color: rgb(145, 145, 145);
}

.selected-row {
  background-color: #7bf1a8 !important;

}
