


.readonly {
  background-color: #d0d0d3; /* Faint grey background */
  cursor: not-allowed; /* Disable cursor */
  opacity: 0.6; /* Reduce opacity */
}

.calculated-field {
  background-color: #f0fc82 !important; /* Grey background */
  border: 1px solid; /* Default border */
  border-color: green; /* Green border color */
  cursor: not-allowed; /* Disable cursor */
  opacity: 0.6; /* Reduce opacity */  
}

